<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/output.css') }}">
    <title>Play Tower Defense</title>
</head>
<body class="flex flex-col justify-center pt-20">
    
    <canvas class='self-center' id="gameCanvas" width="800" height="400" style="border:1px solid #000000;"></canvas>




    <script src="{{ url_for('static',filename='scripts/towerdefense.js') }}"></script>


</body>
</html>