<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/output.css') }}">



    <style>

        /* "Fix" color picker */

        input[type="color"]::-moz-color-swatch {
        border: none;
        }

        input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
        border-radius: 0;
        }

        input[type="color"]::-webkit-color-swatch {
        border: none;
        }

    </style>





    <title>Assignment HQ | Dashboard</title>
</head>
<body class="grid grid-cols-[25%_75%] h-screen">




    <div id="sidebar" class="bg-eerie-black-900 flex flex-col h-screen content-between text-white">

        <a href="/"><img src="{{ url_for('static', filename='imgs/logo.svg')}}" alt="Assignment HQ Logo" class=" border-white  border-3 px-6 my-8 self-center"></a>

        <div class="flex flex-col text-right text-xl h-full space-between">
            <div class="flex flex-col text-right px-8 text-xl h-full">
                <a href="/dashboard" class="grid grid-cols-[15%_65%] gap-8 cursor-pointer hover:bg-eerie-black-700 py-6 px-4 rounded-full">
                    <img src="{{ url_for('static',filename='imgs/dashboardLogo.svg') }}" alt="" class="h-6 ml-2 invert">
                    <div class="h-4 px-3">Dashboard</div>
                </a>

                <a href='/study' class="grid grid-cols-[15%_65%] gap-8 cursor-pointer hover:bg-eerie-black-700 py-6 px-4 rounded-full">
                    <img src="{{ url_for('static',filename='imgs/studyLogo.svg') }}" alt="" class="h-6 ml-2 invert">
                    <div class="h-4 px-3">Study</div>
                </a>
                
                <a href="/clause" class="grid grid-cols-[15%_65%] gap-8 cursor-pointer hover:bg-eerie-black-700 py-6 px-4 rounded-full">
                    <img src="{{ url_for('static',filename='imgs/aiCrab.svg') }}" alt="" class="h-6 ml-2 invert">
                    <div class="h-4 px-3">AI Study Buddy</div>
                </a>
                
                <a href="/chat" class="grid grid-cols-[15%_65%] gap-8 cursor-pointer hover:bg-eerie-black-700 py-6 px-4 rounded-full">
                    <img src="{{ url_for('static',filename='imgs/classChat.svg') }}" alt="" class="h-6 ml-2 invert">
                    <div class="h-4 px-3">Class Chat</div>
                </a>
            </div>

            <a href="/logout" class="hover:bg-eerie-black-700 text-center mt-full p-4 rounded-full mb-8 mx-8">Logout</a>
        </div>

    </div>




    <div id="main" class="flex flex-col bg-white min-h-screen px-20 py-20 overflow-y-scroll">

        <div class="flex justify-between mb-4">
            <h1 class="text-3xl">{{deck.name}}</h1>
            <form action='/study/remove_deck' method='post' class="">
                <input type="hidden" name="deck_id" value="{{deck.id}}">
                <input type="submit" class="transition ease-in-out delay-150 bg-persian-red-600 hover:bg-persian-red-400 px-8 py-3 rounded-full font-bold text-white cursor-pointer" value="Delete">
            </form>
        </div>
        <hr class="border-black mb-6">


        <h2 class="text-md mb-2 font-bold">Study</h2>


        <div class="grid grid-cols-4 gap-6 mb-8">
    
            <a href="./{{deck.id}}/flashcards" type="submit" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 bg-persian-red-600 hover:bg-persian-red-400 px-8 py-3 rounded-full font-bold text-white text-center cursor-pointer">Flashcards</a>
            <a href="./{{deck.id}}/learn" type="submit" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 bg-persian-red-600 hover:bg-persian-red-400 px-8 py-3 rounded-full font-bold text-white text-center cursor-pointer">Learn</a>
            <a href="./{{deck.id}}/play" type="submit" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 bg-persian-red-600 hover:bg-persian-red-400 px-8 py-3 rounded-full font-bold text-white text-center cursor-pointer">Play</a>
            
        </div>


        <h2 class="text-md mb-2 font-bold">Deck Contents</h2>
        <div class="grid grid-cols-2 gap-y-10 gap-x-6">

            {% for card in deck.cards %}

            <div term='{{card.term}}' definition='{{card.definition}}' class="h-16 border-b-4 border-eerie-black-200 hover:border-persian-red-400 hover:bg-persian-red-100 text-center text-xl py-5 px-10 before:content-[attr(term)] hover:before:content-none hover:after:content-[attr(definition)] transition ease-in-out"></div>
            
            {% else %}
            
            <div class="h-20 border-b-4 hover:border-persian-red-400 hover:bg-persian-red-100 text-center text-xl py-5 transition ease-in-out delay-150 cursor-pointer">No Cards Found</div>
            
            {% endfor %}
        </div>

        

        <script src="{{ url_for('static',filename='scripts/jquery-3.7.1.min.js') }}"></script>
    </div>
</body>
</html>

