<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/output.css') }}">



    <style>

        /* Flip animation stuff */

        .flip-card {
            perspective: 1000px;
            width: 80%;
            height: 60%;
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        .flip-card-back {
        transform: rotateY(180deg);
        }

        .flipped .flip-card-inner {
        transform: rotateY(180deg);
        }

        .correct {
            border-color: #93AAA6;
        }

        .wrong {
            border-color: #C86363;
        }


    </style>


    <title>Assignment HQ | Dashboard</title>
</head>
<body class="grid grid-cols-[25%_75%] h-screen">


    <div id="sidebar" class="bg-eerie-black-900 flex flex-col h-screen content-between text-white">

        <a href="/"><img src="{{ url_for('static', filename='imgs/logo.png')}}" alt="Assignment HQ Logo" class=" border-white  border-3 px-6 my-8 self-center"></a>

        <div class="flex flex-col text-right text-xl h-full space-between">
            <div class="flex flex-col text-right px-8 text-xl h-full">
                <a href="/dashboard" class="grid grid-cols-[15%_65%] gap-8 cursor-pointer hover:bg-eerie-black-700 py-6 px-4 rounded-full">
                    <img src="{{ url_for('static',filename='imgs/dashboardLogo.svg') }}" alt="" class="h-6 ml-2 invert">
                    <div class="h-4 px-3">Dashboard</div>
                </a>

                <a href='/study' class="grid grid-cols-[15%_65%] gap-8 cursor-pointer hover:bg-eerie-black-700 py-6 px-4 rounded-full">
                    <img src="{{ url_for('static',filename='imgs/studyLogo.svg') }}" alt="" class="h-6 ml-2 invert">
                    <div class="h-4 px-3">Study</div>
                </a>
                
                <a href="/clause" class="grid grid-cols-[15%_65%] gap-8 cursor-pointer hover:bg-eerie-black-700 py-6 px-4 rounded-full">
                    <img src="{{ url_for('static',filename='imgs/aiCrab.svg') }}" alt="" class="h-6 ml-2 invert">
                    <div class="h-4 px-3">AI Study Buddy</div>
                </a>
                
                <a href="/chat" class="grid grid-cols-[15%_65%] gap-8 cursor-pointer hover:bg-eerie-black-700 py-6 px-4 rounded-full">
                    <img src="{{ url_for('static',filename='imgs/classChat.svg') }}" alt="" class="h-6 ml-2 invert">
                    <div class="h-4 px-3">Class Chat</div>
                </a>
            </div>

            <a href="/logout" class="hover:bg-eerie-black-700 text-center mt-full p-4 rounded-full mb-8 mx-8">Logout</a>
        </div>

    </div>




    <div id="main" class="flex flex-col bg-white min-h-screen px-20 py-20 overflow-y-scroll">

        
        <div class="flex justify-between mb-4">
            <h1 class="text-3xl">{{deck.name}}: Learn</h1>
            <form action="/study/decks/{{deck.id}}/learn/reset" method="post" class="justify-end">
                <button type="submit self-center">
                    <img src="{{ url_for('static',filename='imgs/refresh_symbol.svg') }}" alt="" class="w-6 mr-3">
                </button>
                <a href='../{{deck.id}}' class="transition ease-in-out delay-150 bg-persian-red-600 hover:bg-persian-red-400 px-8 py-3 rounded-full font-bold text-white cursor-pointer text-center">Back</a>
            </form>
        </div>
        <hr class="border-black mb-12">

        <div id="landing" class="grid w-full px-8 self-center flex-col grid-cols-4 gap-4">
            <p class="text-md px-8 col-span-2 text-center py-4 rounded-full bg-eerie-black-100 text-black">Learn mode helps you learn.</p>
            <p class="text-md px-8 col-span-2 text-center py-4 rounded-full bg-eerie-black-100 text-black">Check in daily to learn faster.</p>
            <p class="font-bold text-md col-span-2 px-8 text-center col-start-2 py-4 rounded-full bg-eerie-black-300 text-black">Click the button to start.</p>
            <button class="transition ease-in-out delay-150 col-span-4 row-start-5 hover:-translate-y-1 hover:scale-105 bg-persian-red-600 hover:bg-persian-red-400 px-8 py-4 rounded-full font-bold text-white text-center cursor-pointer text-md" id="startButton">Start</button>
        </div>
        
        <div id="round-finished" class="hidden w-full px-8 self-center flex-col grid-cols-2 gap-4">
            <p class="text-xl mb-4"><span id="correctCount" class="text-3xl px-2">3</span> / <span id="batchCount" class="text-3xl px-2">7</span> questions correct this round.</p>
            <p class="text-xl mb-4 col-start-2"><span id="unknownCount" class="text-3xl px-2">17</span> questions unknown.</p>
            <p class="text-xl mb-4 col-start-2"><span id="learnedCount" class="text-3xl px-2">17</span> questions learned.</p>
            <p class="text-xl mb-4 col-start-2"><span id="masteryCount" class="text-3xl px-2">17</span> questions mastered.</p>
            <button class=" col-span-2 transition ease-in-out delay-150 w-full hover:-translate-y-1 hover:scale-105 bg-persian-red-600 hover:bg-persian-red-400 px-8 py-4 rounded-full font-bold text-white text-center cursor-pointer text-md" id="continueButton">Continue</button>
        </div>

        <div id="learn-main" class="hidden w-full h-full self-center flex-col">
            <div id="flip-card" class="flip-card self-center mb-8">
                <div class="flip-card-inner w-full">
                    <div class="self-center h-3/5 w-4/5 transition ease-in-out delay-150 border-8 text-center p-16 cursor-pointer text-3xl mb-8 hover:-translate-y-1 hover:scale-105 hover:bg-eerie-black-100 hover:border-eerie-black-200 flip-card-front" id="displayCardFront"></div>
                    <div class="self-center h-3/5 w-4/5 transition ease-in-out delay-150 border-8 text-center p-16 cursor-pointer text-3xl mb-8 hover:-translate-y-1 hover:scale-105 hover:bg-eerie-black-100 hover:border-eerie-black-200 flip-card-back" id="displayCardBack"></div>
                </div>
            </div>

            
            <div class="flex self-center w-4/5 gap-8" id="written-response">
                <input type="text" autofocus class="w-full px-4 py-2 border-b-4 self-center focus:border-persian-red-400 focus:outline-none transition ease-in-out delay-50 duration-300" placeholder="What's the answer?" id="answerField">
                <button class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 bg-persian-red-600 hover:bg-persian-red-400 px-8 py-3 rounded-full font-bold text-white text-center cursor-pointer" id="checkButton">Check</button>
            </div>

            <div class="flex self-center w-4/5 gap-8" id="multi-response">
                <button class="transition ease-in-out delay-150 hover:-translate-y-1 w-full hover:scale-110 border-y-4 hover:border-persian-red-400 hover:bg-persian-red-100 px-8 py-3 font-bold text-black text-center cursor-pointer" id="choiceA">A</button>
                <button class="transition ease-in-out delay-150 hover:-translate-y-1 w-full hover:scale-110 border-y-4 hover:border-persian-red-400 hover:bg-persian-red-100 px-8 py-3 font-bold text-black text-center cursor-pointer" id="choiceB">B</button>
                <button class="transition ease-in-out delay-150 hover:-translate-y-1 w-full hover:scale-110 border-y-4 hover:border-persian-red-400 hover:bg-persian-red-100 px-8 py-3 font-bold text-black text-center cursor-pointer" id="choiceC">C</button>
                <button class="transition ease-in-out delay-150 hover:-translate-y-1 w-full hover:scale-110 border-y-4 hover:border-persian-red-400 hover:bg-persian-red-100 px-8 py-3 font-bold text-black text-center cursor-pointer" id="choiceD">D</button>
            </div>
        </div>


        <div id="learn-finished" class="hidden self-center w-4/5 gap-8">
            <p class="text-2xl text-center">Finished Learn</p>
            <form action="/study/decks/{{deck.id}}/learn/reset" method="post" class="justify-end">
                <button type="submit" class="transition ease-in-out delay-150 bg-persian-red-600 hover:bg-persian-red-400 px-8 py-3 rounded-full font-bold text-white cursor-pointer text-center">Reset</button>
            </form>
            <a href='../{{deck.id}}' class="transition ease-in-out delay-150 bg-persian-red-600 hover:bg-persian-red-400 px-8 py-3 rounded-full font-bold text-white cursor-pointer text-center">Back</a>
        </div>

        
        <script>
            let data = '{{cards}}'
            let deckID = '{{deck.id}}'
        </script>
        <script src="{{ url_for('static',filename='scripts/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/study/learn.js') }}"></script>

    </div>
</body>
</html>

