<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/output.css') }}">
    <title>Assignment HQ | Dashboard</title>
</head>
<body class="grid grid-cols-[25%_75%] h-screen">




    <div id="sidebar" class="bg-eerie-black-900 flex flex-col h-screen content-between text-white">

        <a href="/"><img src="{{ url_for('static', filename='imgs/logo.svg')}}" alt="Assignment HQ Logo" class=" border-white  border-3 px-6 my-8 self-center"></a>

        <div class="flex flex-col text-right text-xl h-full space-between">
            <div class="flex flex-col text-right px-8 text-xl h-full">
                <a href="/dashboard" class="grid grid-cols-[15%_65%] gap-8 cursor-pointer hover:bg-eerie-black-700 py-6 px-4 rounded-full">
                    <img src="{{ url_for('static',filename='imgs/dashboardLogo.svg') }}" alt="" class="h-6 ml-2 invert">
                    <div class="h-4 px-3">Dashboard</div>
                </a>

                <a href='/study' class="grid grid-cols-[15%_65%] gap-8 cursor-pointer hover:bg-eerie-black-700 py-6 px-4 rounded-full">
                    <img src="{{ url_for('static',filename='imgs/studyLogo.svg') }}" alt="" class="h-6 ml-2 invert">
                    <div class="h-4 px-3">Study</div>
                </a>
                
                <a href="/clause" class="grid grid-cols-[15%_65%] gap-8 cursor-pointer hover:bg-eerie-black-700 py-6 px-4 rounded-full">
                    <img src="{{ url_for('static',filename='imgs/aiCrab.svg') }}" alt="" class="h-6 ml-2 invert">
                    <div class="h-4 px-3">AI Study Buddy</div>
                </a>
                
                <a href="/chat" class="grid grid-cols-[15%_65%] gap-8 cursor-pointer hover:bg-eerie-black-700 py-6 px-4 rounded-full">
                    <img src="{{ url_for('static',filename='imgs/classChat.svg') }}" alt="" class="h-6 ml-2 invert">
                    <div class="h-4 px-3">Class Chat</div>
                </a>
            </div>

            <a href="/logout" class="hover:bg-eerie-black-700 text-center mt-full p-4 rounded-full mb-8 mx-8">Logout</a>
        </div>

    </div>




    <div id="dashboard" class="flex flex-col bg-white min-h-screen px-20 py-20">

        <h1 class="text-3xl mb-4">Tasks</h2>
        <hr class="border-black mb-4">

        <form id='sort-form' action="/sort_tasks" method="post" class="flex gap-6 mb-4">
            <input id='sort-discriminator' type="hidden" name="discriminator">
            <button id='sort-name' class="block bg-persian-red-600 px-10 py-5 rounded-full text-white font-bold">Sort By Name</button>
            <button id='sort-status' class="block bg-persian-red-600 px-10 py-5 rounded-full text-white font-bold">Sort By Status</button>
        </form>

        <div id="taskcontainer" class="flex flex-col divide-y-2 divide-eerie-black-200">


            <form action="/add_task" method="post" class="flex bg-eerie-black-100 px-10 py-3 focus-within:bg-white focus-within:border focus-within:shadow-lg">
                
                <button class="block w-10"><img class="h-6" src="{{ url_for('static',filename='imgs/checkbox-unchecked.svg') }}" alt=""></button>

                <input type="text" name="title" id="" autofocus placeholder="What's Next?" class="bg-inherit w-full rounded-full px-8 block focus:outline-none">
                <input type="hidden" name="description" value="">
            </form>


            {% for task in tasks %}

            <form action="/edit_task" method="post" class="flex bg-eerie-black-100 px-10 py-3 focus-within:bg-white focus-within:border focus-within:shadow-lg">
                
                <button class="hidden cursor-pointer" formaction="/edit_task">Edit</button>
                <button class="block w-10" formaction="/complete_task"><img class="h-6" src="{{ url_for('static',filename='imgs/checkbox-unchecked.svg') if not task.status else url_for('static',filename='imgs/checkbox-checked.svg') }}" alt=""></button>

                {%if task.status%}
                <span class="w-full line-through text-black decoration-2">
                {%endif%}
                <input type="text" name="title" id="" value="{{task.title}}" class="text-black bg-inherit w-full rounded-full px-8 block focus:outline-none">
                {%if task.status%}
                </span>
                {%endif%}

                <input type="hidden" name="task_id" value="{{task.id}}">
                <input type="hidden" name="description" value="{{task.description}}">
                <div class="flex gap-20 font-bold w-min px-20">
                    <button class="block cursor-pointer" formaction="/remove_task">Remove</button>
                </div>
            </form>

            {% endfor %}

        </div>

        <script src="{{ url_for('static',filename='scripts/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/dashboard.js') }}"></script>
    </div>
</body>
</html>