<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/output.css') }}">
    <title>Task Manager App | Login</title>
</head>
<body>
    <div class="my-24 mx-auto w-1/3 py-12 px-4 flex flex-col items-center bg-slate-300">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class='bg-red-200 p-5 mb-5'>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h1 class="text-center text-3xl">Glad to see you back.</h1>
        <p class="text-center mb-8">This is the login page.</p>
        <form action="/login" method="post" class="grid grid-cols-3 items-center gap-4">
            <label for="">Username</label>
            <input type="text" name='username' class="py-4 px-8 col-span-2">

            <label for="">Password</label>
            <input type="password" name='password' class="py-4 px-8 col-span-2">

            <button type="submit" class="bg-white col-span-3 py-4 my-4">Login!</button>
        </form>
    </div>
</body>
</html>